.content{
    min-width: 980px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.content h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #363f5f;
}

table{
    width: 100%;
    border-spacing: 0 10px;
    
}

table th{
    background: #d0d2da;
    font-weight: 600;
    padding: 5px 15px;
    text-align: left;
    font-size:15px;

}
table td{
    background: #e3e5ec;
    padding: 5px 15px;
    font-weight: normal;
    cursor: pointer;
    font-size:15px;
}


table tbody tr{
    opacity: 0.7;
}
table tbody tr:hover{
    opacity: 1;
}

table thead tr th:first-child,
table tbody tr td:first-child{
    border-radius: 5px 0 0 5px;
}

table thead tr th:last-child,
table tbody tr td:last-child{
    border-radius: 0 5px 5px 0;
}

.icon-atualizar{
    width: 25px;
    opacity: 0.7;
}
.icon-excluir{
    width: 25px;
    opacity: 0.7;
}

.icon-atualizar:hover{
    opacity: 1;
}
.icon-excluir:hover{
    opacity: 1;
}

.voltar{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.voltar a{
    color: #fff;
    background: #fe5c0a;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voltar a:hover{
    background: #db4b04;
}

.celulaEmEdicao{
    background: #68e09e;
}